* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: table;
    background-color: #2ecc71;
    width: 100%;
}
h3{
    color: white;
    display: table-cell;
    vertical-align: middle;
    padding-left: 80px;
}

nav {
    display: table;
    float: right;
    height: 10vh;
    margin-right: 80px;
    /* background-color: red; */


}
a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}
a:not(:last-child){
    padding-right: 20px;

}
main {
    min-height: 80vh;
    background-color: #ecf0f1;
}
footer {
    height: 10vh;
    background-color: #2ecc71;
}